<div class="servies-container">
  <div class="service">
    <img src="../../assets/images/svg-1.svg" alt="pic" />
    <h1>Reduce expenses</h1>
    <h4>We help reduce your fess and increase yor overall revenue.</h4>
  </div>
  <div class="service">
    <img src="../../assets/images/svg-2.svg" alt="pic" />
    <h1>Virtual Offices</h1>
    <h4>you can access our platform online anywhere in the world.</h4>
  </div>
  <div class="service">
    <img src="../../assets/images/svg-3.svg" alt="pic" />
    <h1>Premium Benfits</h1>
    <h4>Unlick our special membership that returns 5% cash back.</h4>
  </div>
</div>
