<section id="heroContainer" class="hero-section">
  <div class="vid-container">
    <video
      class="vid"
      src="../../assets/vids/production ID_3943962.mp4"
      autoPlay
      loop
      muted
    ></video>
  </div>
  <div class="info">
    <h1>world best banking compney</h1>
    <p>
      Sign up for a new account today and receive 250$ in credit towards your
      next payment.
    </p>
    <button>Open an account <fa-icon [icon]="faChevronRight"></fa-icon></button>
  </div>
</section>
