<div class="model">
  <div class="info">
    <h3>business model</h3>
    <h1>Cross selling</h1>
    <p>
      Cross-selling is the action or practice of selling an additional product
      or service to an existing customer. In practice, businesses define
      cross-selling in many different ways. the industry sector it operates
      within and the financial motivations of those required to define the
      term.[citation needed] The objective of cross-selling can be either to
      increase the income derived from the client or to protect the relationship
      with the client or clients. The approach to the process of cross-selling
      can be varied. Unlike the acquiring of new business, cross-selling
      involves an element of risk that could disrupt the relationship of
      existing clients. For that reason, it is important to ensure that the
      additional product or service being sold to the client or clients enhances
      the value the client or clients get from the organization. In practice,
      large businesses usually combine cross-selling and up-selling techniques
      to increase revenue.
    </p>
    <button>Read more <fa-icon [icon]="faChevronRight"></fa-icon></button>
  </div>
  <img
    src="https://cdn.iconscout.com/icon/premium/png-512-thumb/cross-selling-2669282-2214029.png"
    alt=""
  />
</div>
