<div class="FooterContainer">
  <div class="FooterWarp">
    <div class="FooterLinksContainer">
      <div class="FooterLinksWrapper">
        <div class="FooterLinksItems">
          <h1 class="FooterLinksTitle">About us</h1>
          <a class="FooterLink" routerLink="signin">How it works</a>
          <a class="FooterLink" routerLink="signin">Testimonials</a>
          <a class="FooterLink" routerLink="signin">Careers</a>
          <a class="FooterLink" routerLink="signin">Investors</a>
          <a class="FooterLink" routerLink="signin">Terms os Service</a>
        </div>
        <div class="FooterLinksItems">
          <h1 class="FooterLinksTitle">Videos</h1>
          <a class="FooterLink" routerLink="signin">Submit Vides</a>
          <a class="FooterLink" routerLink="signin">Testimonials</a>
          <a class="FooterLink" routerLink="signin">Ambassadors</a>
          <a class="FooterLink" routerLink="signin">Agency</a>
          <a class="FooterLink" routerLink="signin">Influencer</a>
        </div>
        <div class="FooterLinksItems">
          <h1 class="FooterLinksTitle">Contact us</h1>
          <a class="FooterLink" routerLink="signin">Contact</a>
          <a class="FooterLink" routerLink="signin">support</a>
          <a class="FooterLink" routerLink="signin">Destinations</a>
          <a class="FooterLink" routerLink="signin">Sponsorships</a>
        </div>
        <div class="FooterLinksItems">
          <h1 class="FooterLinksTitle">Social Media</h1>
          <a class="FooterLink" routerLink="signin">Instagram</a>
          <a class="FooterLink" routerLink="signin">Facebook</a>
          <a class="FooterLink" routerLink="signin">Youtube</a>
          <a class="FooterLink" routerLink="signin">Twitter</a>
        </div>
      </div>
    </div>
    <div class="SocialMedia">
      <div class="SocialMediaWrap">
        <a class="SocialLogo"> bank</a>
        <small class="WebsiteRights"> Bank © 2021 All rights reserved. </small>
        <div class="SocialIcons">
          <a
            class="SocialIconLink"
            href="#"
            target="_blank"
            aria-label="Facebook"
          >
            <fa-icon [icon]="faFacebook"></fa-icon
          ></a>
          <a
            class="SocialIconLink"
            href="#"
            target="_blank"
            aria-label="Instagram"
          >
            <fa-icon [icon]="faInstagram"></fa-icon
          ></a>
          <a
            class="SocialIconLink"
            href="#"
            target="_blank"
            aria-label="Youtube"
          >
            <fa-icon [icon]="faYoutube"></fa-icon
          ></a>
          <a
            class="SocialIconLink"
            href="#"
            target="_blank"
            aria-label="Twitter"
          >
            <fa-icon [icon]="faTwitter"></fa-icon
          ></a>
          <a
            class="SocialIconLink"
            href="#"
            target="_blank"
            aria-label="Linkedin"
          >
            <fa-icon [icon]="faLinkedin"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
