<div class="model">
  <div class="info">
    <h3>business model</h3>
    <h1>Risk based pricing</h1>
    <p>
      Risk-based pricing is a methodology adopted by many lenders in the
      mortgage and financial services industries. It has been in use for many
      years as lenders try to measure loan risk in terms of interest rates and
      other fees. The interest rate on a loan is determined not only by the time
      value of money, but also by the lender's estimate of the probability that
      the borrower will default on the loan. These factors might also be
      characteristics of the loan; for example, a mortgage lender might offer
      different rates to the same borrower, depending on whether that borrower
      wished to buy a single-family house or a condominium. Concerns have been
      raised about the extent to which risk-based pricing increases borrowing
      costs for the poor, who are generally more likely to default, and thereby
      further increases their likelihood of default. Supporters also argue that
      risk-based pricing expands access to credit for high-risk borrowers (who
      are often lower-income), by allowing lenders to price this increased risk
      into the loan.
    </p>
    <button>Read more <fa-icon [icon]="faChevronRight"></fa-icon></button>
  </div>
  <img src="../../../assets/images/risk.svg" alt="" />
</div>
