<div class="model">
  <div class="info">
    <h3>business model</h3>
    <h1>Payment processing</h1>
    <p>
      payment processing available to the general public and business clients.
      These products include debit cards, prepaid cards, smart cards, and credit
      cards. They make it easier for consumers to conveniently make transactions
      and smooth their consumption over time. However, with the convenience of
      easy credit, there is also increased risk that consumers will mismanage
      their financial resources and accumulate excessive debt. Banks make money
      from card products through interest charges and fees charged to
      cardholders, and transaction fees to retailers[22] who accept the bank's
      credit and/or debit cards for payments. This helps in making a profit and
      facilitates economic development as a whole.[23] Recently, as banks have
      been faced with pressure from fintechs, new and additional business models
      have been suggested such as freemium, monetization of data, white-labeling
      of banking and payment applications, or the cross-selling of complementary
      products.
    </p>
    <button>Open an account <fa-icon [icon]="faChevronRight"></fa-icon></button>
  </div>
  <img src="../../../assets/images/card.svg " alt="" />
</div>
